@font-face {
	font-family: 'Century Gothic';
	src: url('../fonts/Century Gothic Bold.eot');
	src: local('☺'), url('../fonts/Century Gothic Bold.woff') format('woff'), url('../fonts/Century Gothic Bold.ttf') format('truetype'), url('../fonts/Century Gothic Bold.svg') format('svg');
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: 'Century Gothic';
	src: url('../fonts/Century Gothic.eot');
	src: local('☺'), url('../fonts/Century Gothic.woff') format('woff'), url('../fonts/Century Gothic.ttf') format('truetype'), url('../fonts/Century Gothic.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@import 'null.scss';
body{font-family: 'Century Gothic';}
a{cursor: pointer;}
.container{position: relative; max-width: 1600px;margin: 0 auto;}
.big-title{
  color: #FF6C1B;
  font-size: 100px;
  font-family: "Century Gothic";
  font-weight: 700;
}
.title{
	color: #FF6C1B;
  font-size: 48px;
  font-family: "Century Gothic";
  font-weight: 700;
	line-height: 68px;
}
.df{
	display: flex!important;
}
.dn{
	display: none !important;
}
.db{
	display: block !important;
}
.button-mod {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 50%;
}
.more, .hide{
	display: none;
	width: 100px;
	height: 50px;
	background-color: #fff;
	& span{
		color: #F88B4D;
		position: relative;
		top: 35%;
		left: 35%;
	}
	&:hover{
		background-color: #F88B4D;
		box-shadow: 0px 0px 10px #fff;
		& span{
			color: #fff;
		}
	}
}
.arrow-left, .arrow-right{
	&:hover{
		box-shadow: 0px 0px 10px #fff;
	}
}
article{
	width: 25%;
	&:hover{
		background: linear-gradient(43.99deg, #FF6C1B -2.53%, #FFFFFF 143.71%);
		box-shadow: 0px 0px 21px 7px rgba(223, 87, 12, 0.14);
		border-radius: 30px 30px 0px 0px;
		margin-top: -100px;
		.slider__block{
			padding: 45px 0px 70px 0px !important;
			& .slider__block-name{color: #fff;}

		}
		.slider__block-button{
			display: block !important;
		}
		.slider__block-button:first-child{
			padding-bottom: 18px;
		}
	}
}


/*----------------------MAIN----------------------*/
.header {
	position: absolute;
	width: 100%;
	padding: 0px 20px;
	&__inner {
		padding-top: 20px;
		display: flex;
		align-items: flex-start;
		justify-content: space-between;
	}
	&__nav {
		display: flex;
		flex-direction: column;
		gap: 10px;
		position: relative;
	}
	&__call, &__mail {
		padding-right: 10px;
		background-image: url('../image/icons-header/header-curve.svg');
		background-repeat: no-repeat;
		background-position: center;
		width: 100px;
		height: 100px;
		display: flex;
		justify-content: center;
		align-items: center;
		& img{
			width:30px;
			height: 30px;
		}
		& a{
			padding: 50px 0px;
			box-sizing: border-box;
		}
		&__call:hover{
			box-shadow: 0px 0px 10px#FF6C1B;
		}
	}
	&__contact{
		width: 300px;
		height: 60px;
		background: linear-gradient(270deg, #FCCDB4 0%, #FF6C1B 104.95%);
		box-shadow: 0px 0px 19px 9px rgba(223, 87, 12, 0.12);
		border-radius: 7px;
		display: flex;
		justify-content: center;
		align-items: center;
		text-transform: uppercase;
		transform: rotate(270deg);
		
		position: absolute;
		top: 170%;
		left: -105px;
		z-index: 9;
		& a{
			color: #FFFFFF;
			font-size: 20px;
			font-weight: 700;
		}
	}
}
.main{
	& .intro{
		background: url('../image/image-header/bg-2.jpg') no-repeat;
		background-size: cover;
		&__inner {
			max-width: 100%;
			min-height: 750px;
			display: flex;
			flex-direction: column;
			justify-content: flex-end;
			gap: 30px;
			padding: 0px 20px 30px 20px;

			position: relative;
			z-index: 9;
		}
		&__upper-title {
			color: #FF6C1B;
  		font-size:58px;
  		font-family: "Century Gothic";
			font-weight: 700;
		}
		&__title {
			max-width: 1600px;
		}
	}
	.choose {
		&::before{
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 600px;
			transform: translate(0px,155px);
			background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 100%);
		}
		.choose__inner {
			display: flex;
			width: 100%;
		}
		&__button-zahnarzte {
			& .choose__button-people{
				box-sizing: border-box;
			}
			& .choose__button-people div:first-child{
				height: 80%;
				
				position: absolute;
				z-index: 2;
				bottom: 0;
				left: -50px;
			}
			&__button-content:hover{
				animation-name: animationArrowWhite;
				animation-iteration-count: infinite;
				animation-direction: alternate;
				animation-timing-function: linear;
			}
		}
		&__button-content {
			display: flex;
			gap: 20px;
			&-arrow {
				& img{
					width: 40px;
					height: 40px;
				}
			}
			&-text {
				font-family: "Century Gothic";
				font-size: 34px;
				font-weight: 700;
	
				box-sizing: border-box;
				margin-right: 50px;
				& a{
					color: #FF6C1B;
				}
			}
		}
		&__button-people {
			position: relative;

			display: flex;
			width: 30%;
			height: 220px;
			& img{
				height: 90%;
				position: relative;
				top:50px;
			}
		}
		.choose__button-patienten {
			background-color:#FF6C1B;
			& .choose__button-content .choose__button-content-text{
				a{
					color: #fff;
				}
				margin-right: 0;
			}
		}
	}
}
/*----------------------MAIN----------------------*/


/*-------------------PATIENTEN--------------------*/
.main{
	.bg-3{
		background: url('../image/image-header/bg-3.jpg') no-repeat;
		background-size: cover;
	}
	.dental-insurance {
		&::before{
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 600px;
			transform: translate(0px,155px);
			background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 100%);
		}
		&__inner {
			padding: 100px 20px;
			& .container{
				display: flex;
			}
		}
		&__content {margin-right: 13%;}
		&__content-title {
			max-width: 700px;
			font-size: 48px;
			line-height: 68px;
			margin-bottom: 25px;
		}
		&__content-text {
			max-width: 950px;
			color: #7D3207;
			font-size: 18px;
			line-height: 36px;
		}
		&__servicevorteil {
			display: flex;
			flex-direction: column;
			justify-content: space-evenly;
			color: #FF6C1B;
			font-size: 24px;
			font-weight: 700;
			text-transform: uppercase;
			& div{
				position: relative;
			}
			& div::after{
				content: '';
				display: block;
				width: 120px;
				height: 2px;	
				background-color: #7D3207;
				position: absolute;
				top: 50%;
				left: 230px;
	
			}
		}
		&__image {
			position: relative;
			height: 100%;
			& img{
				width: 100%;
			}
			&::before{
				content: "";
				display: block;
				width: 100%;
				height: 46%;
				background: url('../image/image-page-2/decors/Decor.png') no-repeat;
				background-size: cover;
				position: absolute;
				top: 0;
			}
		}
	}
	.additional-insurance {
		background: #FF6C1B;

		&__image{
			position: relative;
			width: 100%;
			& img{
				width: 100%;
			}
			&::before{
				content: "";
				display: block;
				width: 100%;
				height: 29.7%;
				background: url('../image/image-page-2/decors/Decor-o.png') center no-repeat;
				background-size: contain;
				position: absolute;
				top: 0;
				left: 0;
			}
		}
		&__inner {
			padding: 150px 20px;
		}
		&__block{
			display: flex;
			justify-content: space-between;
			align-items: center;
			padding: 0px 20px;
			margin-bottom: 78px;
		}
		&__title {
			color: #fff;
			width: 710px;
		}
		&__slider-button{
			max-width: 500px;
			height: 95px;
			display: flex;
			gap: 10px;
			& button{
				background-color: #fff;
				width: 90px;
				height: 90px;
				border-radius: 50%;
			}
		}
		.additional-insurance__slider {
			background-color: #fff;
			border-radius: 30px;
			width: 100%;
			max-height: 360px;
			padding: 0px 30px;
		}
		.additional-insurance__slider__items {
			display: flex;
			align-items: center;
			padding: 50px 0px;
			width: 100%;
		}
		.slider__block {
			max-width: 340px;
			display: flex;
			flex-direction: column;
			align-items: center;
			
			padding: 40px 0px 67px 0px ;
			margin: 0 auto;
		}
		.slider__block-icon {
			width: 140px;
			height: 100px;
			& img{
				width: 100%;
				height: 100%;
			}
		}
		.slider__block-name {
			font-size: 24px;
			color: #FF6C1B;
			font-weight: 700;
			text-transform: uppercase;
			margin: clamp(0.875rem, 0.739rem + 0.68vw, 1.25rem) 0px;
		}
		.slider__block-info {
			font-size:20px;
			color: #7D3207;
			text-align: center;
			max-width: 330px;
			position: relative;
			margin-bottom: 20px;
			&::before{
				content: "";
				display: block;
				background: url('../image/image-page-2/decors/pdf.svg');
				width: 16px;
				height: 16px;
				position: absolute;
				top: 0;
				left: 0;
			}
		}
		.slider__block-button{
			display: none;
			width: 100%;
			transition: 0.3s ease-out;
			& button{
				background-color: #fff;
				width: 100%;
				min-height: 60px;
				color: #F88B4D;
				transition: .2s ease-out;
				&:hover{box-shadow: 0px 0px 10px#fff;}
			}
		}
	}
	.abrechung {
		background-color: #FF6C1B;
		&__inner {
			display: flex;
			justify-content: space-between;
			padding: 125px 20px 60px  20px;
			box-sizing: border-box;
		}
		&__info {
			width: 40%;
			display: flex;
			flex-direction: column;
			gap: 25px;
			&-title {
				color: #fff;
			}
			&-subtitle {
				color: #fff;
				text-transform: uppercase;
				font-size: 24px;
				font-weight: 700;
				line-height: 36px;

				width: 350px;
			}
			&-text {
				color:#7D3207;
				width: 730px;
				font-size: 24px;
				line-height: 36px;
			}
		}
		&__list {
			width: 40%;
			display: flex;
			gap: 50px;
		}
		&__list-items {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			line-height: 36px;
			& a{
				width: 100%;
				color: #7D3207;
				font-size: 24px;
				position: relative;
				&:hover{
					text-decoration: underline;
				}
				&::before{
					content: " ";
					display: block;
					position: absolute;
					top: 10%;
					left: -30px;
					background: url('../image/image-page-2/decors/check.svg');

					width: 19px;
					height: 19px;
				}
			}
		}
		&__image{
			position: relative;
			& img{
				width: 100%;
			}
			&::before{
				content: "";
				display: block;
				width: 100%;
				height: 29.4%;
				background: url('../image/image-page-2/decors/Decor-o.png')  no-repeat;
				background-size: contain;
				position: absolute;
				top: 0;
				left: 0;
			}
		}
	}
	.our-service {
		background: #FF6C1B;
		color: #fff;
		&__inner {
			padding: 100px 20px 60px 20px;
			display: flex;
		}
		&__info {
			display: flex;
			flex-direction: column;
			gap: 20px;
			max-width: 730px;
			margin: 0px clamp(5rem, 3.39rem + 8.05vw, 10.938rem) 40px 0px;
		}
		&__title {
			font-size: 48px;
			color: #fff;
		}
		&__subtitle {
			font-size: 24px;
			text-transform: uppercase;
			font-weight: 700;
		}
		&__text {
			font-size: 24px;
			line-height: 36px;
		}
		&__link {
			line-height: 36px;
			font-size: 24px;
			& p{
				& a{
					color: #fff;
				}
				& a:hover{
					text-decoration: underline;
				}
			}
			&-title {
				margin-bottom: 30px;
			}
		}
		&__more {
			width: 45%;
			height: 100%;
		}
		&__more-title {
			font-size: 24px;
			font-weight: 700;
			text-transform: uppercase;
	
			margin: 0px 0px 40px 0px;
		}
		&__more-card {
			display: flex;
			gap: 20px;
		}
	}
	.more-card{
		&__inner{
			width: 100%;
			height: 100%;
			padding: 2em 2em;
			box-sizing: border-box;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: space-evenly;
		}
		&__block {
			max-width: 210px;
			height: 365px;
			border: 4px solid #fff;
			border-radius: 5px;
			transition: .5s;
			&:hover{
				background: linear-gradient(31.87deg, #F88B4D 1.07%, #FFFFFF 169.46%);
				box-shadow: 0px 0px 21px 7px rgba(223, 87, 12, 0.04);
				border-radius: 7px;
				border: 4px solid #FF6C1B;
			}
		}
		&__title {
			color: #fff;
			font-weight: 700;
			font-size: clamp(0.875rem, 0.773rem + 0.51vw, 1.25rem);
			text-align: center;
			@media (max-width: 1500px) {
				font-size: 18px;
			}
		}
		&__button {
			& button{
				background-color: #fff;
				width: clamp(4.688rem, 2.993rem + 8.47vw, 10.938rem);
				height: clamp(2.5rem, 1.992rem + 2.54vw, 4.375rem);
				color: #FF6C1B;
				transition: .5s;
			}
			& button:hover{
				box-shadow: 0px 0px 10px #FF6C1B;
			}
		}
	}
	.our-service__img{
		position: relative;
		& img{
			width: 100%;
		}
		& img::before{
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 29.5%;
			background: url('../image/image-page-2/decors/Decor-o.png') contain no-repeat;
			display: block;
		}
	}
}

.footer{
	.contacts {
		background: #FF6C1B;
		min-height: 200px;
		&__inner {
			display: flex;
			align-items: center;
			width: 95%;
			margin: 0 auto;
			padding: 70px 20px;
		}
		&__location {
			position: relative;
			margin-right: 100px;
			&-text {
				& a{
					font-size: clamp(0.75rem, 0.563rem + 0.94vw, 1.5rem);
					color: #fff;
				}
				& a:hover{
					text-decoration: underline;
				}
			}
			&-text::before{
				content: '';
				position: absolute;
				right: 105%;
				bottom: -15px;
				display: block;
				background-image: url('../image/image-page-2/icons/icons-content/location.svg');
				background-size: cover;
				width: 50px;
				height: 55px;
			}
		}
		&__phone {
			position: relative;
			margin-right: 120px;
			&-text {
				& a{
					font-size: 20px;
					color: #fff;
				}
				& a:hover{
					text-decoration: underline;
				}
			}
			&-text::before{
				content: '';
				position: absolute;
				right: 105%;
				top: -17px;
				display: block;
				background-image: url('../image/image-page-2/icons/icons-content/call.svg');
				background-size: cover;
				width: 55px;
				height: 55px;
			}
		}
		&__email {
			margin-right: 20%;
			position: relative;
			&-text {
				& a{
					font-size: 20px;
					color: #fff;
				}	
				& a:hover{
					text-decoration: underline;
				}
			}
			&-text::before{
				content: '';
				position: absolute;
				right: 105%;
				bottom: -20px;
				display: block;
				background-image: url('../image/image-page-2/icons/icons-content/mail.svg');
				background-size: cover;
				width: 73px;
				height: 60px;
			}
		}
		&__logo {

		}
	}
	.buttons {
		&__inner {
			display: flex;
			height: 135px;
		}
		&__impressum {
			width: 50%;
			display: flex;
			align-items: center;
			justify-content: center;
			border-right: 2px solid #FF6C1B;
			transition: 0.5s;
			& a {
				font-size: 24px;
				font-weight: 700;
				color: #FF6C1B;
				text-transform: uppercase;
				transition: 0.5s;
			}
			&:hover{
				background-color: #FF6C1B;
				& a{
					color: #fff;
				}
			}
		}
		&__datenschutz {
			width: 50%;
			display: flex;
			align-items: center;
			justify-content: center;
			border-left: 2px solid #FF6C1B;
			transition: 0.5s;
			& a {
				font-size: 24px;
				font-weight: 700;
				color: #FF6C1B;
				text-transform: uppercase;
				transition: 0.5s;
			}
			&:hover{
				background-color: #FF6C1B;
				& a{
					color: #fff;
				}
			}
		}
	}
}
/*-------------------PATIENTEN--------------------*/



/*-------------------------------------------------*/
@media (max-width: 1400px){
	.container{max-width: 1200px;}
	.big-title{font-size: 72px;}
	.title{font-size: 36px !important;}
	.text{font-size:  16px !important;}

	.intro__upper-title{font-size: 30px !important;}
	.dental-insurance__servicevorteil{font-size: 18px !important;}
	.dental-insurance__servicevorteil div::after{left: 150px !important; }


	.abrechung__info-text{ width: 85% !important;}
	.abrechung__info-subtitle{font-size: 20px!important;}
	.abrechung__inner{ justify-content: space-around !important;}
	.abrechung__list-items a{ font-size: 20px !important;}
	
	.our-service__info{margin: 0px 175px 40px 0px !important;}
	.our-service__inner{
		flex-direction: column;
	}
	.our-service__info{margin: 0px 0px 50px 0px !important;}

	.slider__block-info{font-size: clamp(1rem, -0.5rem + 2vw, 1.25rem) !important;}

	.contacts{
		&__location {
			&-text::before{
				content: '';
				position: absolute;
				right: 105%;
				bottom: 0px;
				display: block;
				background-image: url('../image/image-page-2/icons/icons-content/location.svg');
				background-size: cover;
				width: 50px;
				height: 55px;
			}
		}
		&__phone {
			&-text::before{
				content: '';
				position: absolute;
				right: 105%;
				top: 0px;
				display: block;
				background-image: url('../image/image-page-2/icons/icons-content/call.svg');
				background-size: cover;
				width: 55px;
				height: 55px;
			}
		}
		&__email {
			&-text::before{
				content: '';
				position: absolute;
				right: 105%;
				bottom: -20px;
				display: block;
				background-image: url('../image/image-page-2/icons/icons-content/mail.svg');
				background-size: contain;
				width: 73px;
				height: 60px;
			}
		}
	}
}
@media (max-width: 1200px){
	.container{max-width: 992px;}
	.big-title{font-size: 64px;}
	.title{font-size: 32px !important;}
	.intro__upper-title{font-size: 22px !important;}
	
	.dental-insurance__content-text{line-height: 28px !important;}

	.abrechung__list-items a{ font-size: 19px !important;}

	.our-service__subtitle{font-size: 18px !important;}
	.our-service__text, .our-service__link{font-size: 16px !important; line-height: 24px!important;}

	.slider__block-name{
		font-size: 20px!important;
	}
	.slider__block-info{
		max-width: 200px !important;
	}
	.slider__block-button{
		width: 90% !important;
	}
	article{
		width: 33.3% !important;
	&:first-child{display: none;}
	}
}
@media (max-width: 992px){
	.container{max-width: 772px;}
	.big-title{font-size: 54px;}
	.title{font-size: 26px !important; line-height: 46px;}
	.text{font-size:  14px !important;}

	.intro__upper-title{font-size: 22px !important;}
	.header__call, .header__mail{
		width: 70px;
		height: 70px;
		img{
			width: 25px;
			height: 25px;
		}
	}
	.header__contact{
		top: 200%;
		left: -115px;
	}


	.abrechung__inner{ flex-direction: column;}
	.abrechung__info-subtitle{font-size: 24px!important;}
	.abrechung__info, .abrechung__list{width: 100% !important;}
	.abrechung__info-text{ width: 100% !important; padding-bottom: 50px;}
	.abrechung__list-items a{ font-size: 20px !important;}
	.abrechung__list{display: flex;}

	.our-service__subtitle{font-size: 16px !important;}

	.additional-insurance{
		&__slider-button{
			& button{
				background-color: #fff;
				width: 80px!important;
				height: 80px!important;
				border-radius: 50%;
			}
		}
	}
	article{
		width: 50% !important;
		&:nth-child(2){display: none;}
		.slider__block{
			padding: 45px 0px 89px 0px !important;
		}
	}
}
@media (max-width: 772px){
	.container{max-width: 577px;}
	.big-title{font-size: 48px;}
	.title{line-height: 36px;}
	.intro__upper-title{font-size: 22px !important;}

	.dental-insurance__servicevorteil{font-size: 16px !important;}
	.dental-insurance__content-title{line-height: 36px !important;}
	.dental-insurance__content-text{line-height: 26px !important;}

	.abrechung__list-items a{ font-size: 18px !important;}

	.our-service__more-card{
		display: flex;
		flex-direction: column;
	}
	.more-card__inner{
		padding: 0.5em 1em !important;
	}

	.slider__block-name{
		font-size: 16px!important;
	}
	.slider__block-info{
		max-width: 200px !important;
	}
	.slider__block-button{
		width: 70% !important;
	}
	article{
		width: 50% !important;
		&:nth-child(2){display: none;}
		.slider__block{
			padding: 45px 0px 105px 0px !important;
		}
	}
}
@media (max-width: 577px){
	.header__call, .header__mail{
		width: 70px;
		height: 70px;
		img{
			width: 25px;
			height: 25px;
		}
	}
	.header__inner{
		display: flex;

	}
	.big-title{
		font-size: 44px;
		display: flex;
		flex-wrap: wrap;
	}
	.more{
		display: block;
	}

	.dental-insurance__servicevorteil{display: none !important;}

	.abrechung__list{
		display: flex;
		flex-direction: column;
		gap: 15px !important;
	}
	.abrechung__list-items:nth-child(2){display: none;}
	.more-card__inner{
		justify-content: none !important;
		gap: 30px;
	}
	.our-service__more{
		width: 100% !important;
	}


	.additional-insurance__block{
		flex-direction: column;
		align-items: flex-start!important;
	}
	.additional-insurance__title{
		width: 100%!important;
		margin-bottom: 20px;
	}
	article{
		width: 100% !important;
		&:nth-child(3){display: none;}
		&:hover{
			.slider__block{
				padding: 45px 0px 113px 0px !important;
			}
		}
	}
}
/*-------------------------------------------------*/
